<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        {% for image in images %}
        <li>{{ image }}</li>
        {% endfor %}
    </ul>
</body>
</html>
