{% extends "base.html.tera" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<ul>
    {% for image in images %}
    <li>{{ image }}</li>
    {% endfor %}
</ul>
{% endblock content %}
