<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>Welcome to the {{ title }}</h1>
    <p><a href="/manifest">Go to Generate Manifest page</a></p>
    <p><a href="/images">Go to Images page</a></p>
</body>
</html>
